* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.basy {
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
}

nav {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

nav a {
    display: inline-block;
    padding: 16px 20px;
    text-decoration: none;
    color:  #8a8d96;
    font-weight: 400;
}

nav a:hover {
    color: #272727;
}


.pervaya_mawina, 
.vtoraya_mawina, 
.tret_mawina {
    position: absolute;
    top: 120px;
    margin-left: 20%;
}

.pervaya_mawina {
    width: 1024px;
    height: 576px;
    
}

.vtoraya_mawina {
    width: 1024px;
    height: 576px;
    
    
}

.tret_mawina {
    width: 1024px;
    height: 576px;
    
    
}



.switch-transition {
    transition: all .5s ease-in-out;
}

.switch-enter {
    left: 100%;
}

.switch-leave {
    left: -100%;
}
